.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    align-items: center;
}

.header__icon{
    padding: 10px;
    font-size: large;
}

.tinder__icon{
    color: red;
    font-size: 2rem;
}